<div id="contact">
    <div class="col-md-12">
        <form id="contact-form" action="/api/deleteRestaurant" method="POST">
            <div class="title">
                <h2>Delete a restaurant by id</h2>
            </div>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Enter Id" name="id" value="" required>
            </div>            
            <div class="col-md-8">
                <input type="submit" class="form-control" name="Submit" value="Submit">
            </div>
        </form>
    </div>
</div>

