<div class="container">
    <div class="content">
        <div class="main">
            <h1>Welcome To The Restaurant Website</h1>
        </div>
        <a href="/api/displayRestaurants">
            <button type="button" class="btn btn-info">Display 500 Restaurant</button>
        </a>
    </div>
</div>