<div id="contact">
    <div class="col-md-12">
        <form id="contact-form" action="/api/checkUser" method="POST">
            <div class="title">
                <h2>Log In</h2>
                <p style="font-size: 13px;color: red">For username and password please visit github profile: <a href="https://github.com/vishalgami/RestaurantApi">Github</a></p>
            </div>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Enter your username" name="username" value="" required>
            </div>
            <div class="col-md-12">
                <input type="password" class="form-control" placeholder="Enter your password" name="password" value="" required>
            </div>
            <div class="col-md-8">
                <input type="submit" class="form-control" name="Submit" value="Log In">
            </div>
        </form>
    </div>
</div>

